---
---

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

:root {
  --bazzBrown: #8F794B;
  --contrast: #9d0f91;
  --secondContrast: #6F218B;
  --big-text: #F1AF2D;

}

.navbar {
  background-color: var(--contrast);
}


html {
  color: var(--dark);
  background-color: var(--bazzBrown);
}

.footer{
  background-color: var(--big-text);
  position: absolute;
  bottom: 0;
  width: 100%;
}
.title {
  color: var(--big-text)
}

.subtitle {
  color: var(--big-text)
}

